<a href="https://colab.research.google.com/github/ssssihoon/WE_IT/blob/main/Data_analysis/17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 자료구조

자료구조 = 그릇

어떠한 그릇에 담느냐에 따라 효율이 달라진다.

자료구조를 알아야 함수를 고를 수 있다.

## 시리즈

시리즈 : 여러 값을 나열한 자료구조

데이터 프레임을 구성하는 하위 요소.

In [ ]:
# 시리즈 만들기
import pandas as pd
x_num = pd.Series([3, 4, 5])
x_num

0    3
1    4
2    5
dtype: int64

In [ ]:
type(x_num)

pandas.core.series.Series

In [ ]:
# 시리즈의 인덱스 문자열로 변경
x_label = pd.Series([3, 4, 5], index = ['kim', 'lee', 'park'])
x_label

kim     3
lee     4
park    5
dtype: int64

시리즈도 데이터프레임과 같이 loc, iloc 사용 가능

In [ ]:
# 시리즈에 값 추가
x_num[3] = 9
x_num

0    3
1    4
2    5
3    9
dtype: int64

In [ ]:
# 시리즈의 인덱스 삭제
del x_num[2]
x_num

0    3
1    4
3    9
dtype: int64

In [ ]:
# 값 변경
x_num[3] = 4
x_num

0    3
1    4
3    4
dtype: int64

## 데이터프레임

In [ ]:
x = [1, 2, 3, 4]
x.mean()

AttributeError: ignored

x리스트를 데이터프레임으로 변환 후 mean()함수를 사용해야 한다.

In [ ]:
df_x = pd.DataFrame(x)
df_x.mean()

0    2.5
dtype: float64